body {
  background-color: lightskyblue; /* Baggrundsfarven for hele hjemmesiden */
  font-family: "Open Sans", sans-serif; /* Skrifttypen for tekstelementer i body */
}

h1,
h3 {
  color: #333; /* Standardfarve for overskrifter */
  text-align: center; /* Centrerer indholdet i midten */
  font-weight: bold; /* Gør teksten fed */
  margin-bottom: 20px; /* Tilføj bundmargin for at give plads */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Skyggeeffekt for tekst */
}

h1 {
  font-size: 2.5em; /* Størrelsen på h1-overskrifter */
}

h3 {
  font-size: 1.3em; /* Størrelsen på h3-overskrifter */
}

#kliktext {
  margin-top: 80px; /* Justerer øverste margin for elementet */
  border-radius: 5px; /* Tilpasning af hjørner */
  font-family: "Helvetica", sans-serif; /* Skrifttypen for klikteksten */
  font-weight: bold; /* Gør overskriften fed */
  font-size: 16px; /* Skriftstørrelsen for klikteksten */
}

.top-bar {
  padding: 10px; /* Afstand mellem elementer i topbaren */
  align-items: center; /* Centrerer elementerne */
  text-align: center; /* Centrerer menuvalgene i midten af baren */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Skyggeeffekt for tekst */
}

.menu a {
  color: #fff; /* Tekstfarve for menuvalg */
  margin: 0 15px; /* Afstand mellem menuvalg */
  font-size: 18px; /* Skriftstørrelse for menuvalg */
  font-weight: bold; /* Gør teksten fed for at skille den ud */
  transition: color 0.3s ease; /* Overgang af farve ved hover */
}

.menu a:hover {
  color: #333; /* Ændrer farven ved hover */
}

#map-container {
  background-color: lightskyblue; /* Baggrundsfarven bag kortet */
  padding: 20px; /* Afstand mellem elementerne */
  text-align: center; /* Centrerer teksten */
  box-shadow: 0px 5px 5px -5px #333; /* Skyggeeffekt mellem sektioner */
}

.container {
  text-align: center; /* Centrerer teksten  */
  position: relative; /* Gør container relativ */
  padding: 10px 10px 60px; /* Afstand mellem elementerne i containeren */
  box-shadow: 0px 5px 5px -5px #333; /* Skyggeeffekt mellem sektioner */
}

#yearSelector {
  align-items: center; /* Centrerer elementerne */
  justify-content: center; /* Centrerer elementerne */
  transform: translateY(-50%); /* justere højden på elementet */
  padding: 10px; /* Afstand mellem elementerne */
  background-color: #3498db; /* Baggrundsfarve */
  color: #fff; /* Tekstfarve */
  border-radius: 5px; /* Tilpasning af hjørner */
  cursor: pointer; /* Viser at boksen er klikbar */
  transition: background-color 0.3s ease; /* Overgangseffekt på baggrundsfarven ved hover */
  margin-top: 0px; /* Justerer øverste margin */
  margin-right: 200px; /* Justerer højre margin */
}

#welcome-container {
  position: absolute; /* Positionerer absolut */
  left: 50%; /* Placerer element */
  margin-top: 40px; /* Justerer øverste margin */
  transform: translate(-50%, -50%); /* Centrerer vandret og lodret */
  padding: 10px; /* Afstand og indrykning af elementerne */
  border-radius: 5px; /* Tilpasning af hjørner */
  font-family: "Helvetica", sans-serif; /* Skrifttypen */
  font-weight: bold; /* Gør overskriften fed */
  font-size: 28px; /* Størrelsen på teksten */
  color: #333; /* Farven på teksten */
  z-index: 1000; /* Prioritet af element ift. andre */
}

.video-container {
  float: right; /* Placerer i højre side */
  margin: 0px; /* Justerer margin */
  margin-top: 20px; /* Justerer øverste margin */
}

.box {
  display: flex;
  width: 300px; /* Breddeforhold */
  height: 135px; /* Højdeforhold */
  overflow: hidden; /* Skjuler ekstra indhold */
  transition: all 0.3s ease; /* Overgangseffekt ved ændringer */
  cursor: pointer; /* Viser at boksen er klikbar */
  margin-left: 50px; /* Justerer venstre margin for boksene */
}

#scrollToGraphsBtn {
  position: absolute; /* Positionerer element aboslut */
  bottom: 10px; /* Afstand fra bunden */
  left: 50%; /* Placerer element */
  transform: translateX(-50%); /* Centrerer element vandret */
  padding: 10px; /* Afstand og indrykning af elementerne */
  background-color: #007bff; /* Baggrundsfarve */
  color: #fff; /* Tekstfarve */
  border: none; /* Intet border */
  border-radius: 5px; /* Tilpasning af hjørner */
  cursor: pointer; /* Viser at boksen er klikbar */
}

#scrollToGraphsBtn:hover {
  background-color: #0056b3; /* Baggrundsfarve ved hover */
}

.grafer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrerer elementerne vandret */
  padding: 20px; /* Afstand og indrykning af elementerne */
}

#yearSelector:hover {
  background-color: #2f3235; /* Baggrundsfarve ved hover */
}

.boxImage {
  width: 50%; /* Breddeforhold */
  height: auto; /* Automatisk højde */
}

.boxContent {
  display: none; /* Skjuler indholdet i boksen som standard */
  padding: 10px; /* Afstand og indrykning af elementerne */
}

.box.expanded .boxContent {
  display: block; /* Viser teksten, når boksen er udvides */
}

#tooltip {
  position: absolute; /* Positionerer tooltip absolut */
  background: #f4f4f4; /* Baggrundsfarve */
  padding: 5px; /* Afstand og indrykning af elementerne */
  border: 1px solid #ccc; /* Tilpasning af border */
  border-radius: 3px; /* Tilpasning af hjørner */
  opacity: 0; /* Gør tooltippet gennemsigtig som standard */
  z-index: 1000; /* Prioritet af element ift. andre */
  pointer-events: none;
}

#backToTopBtn {
  position: fixed; /* Positionerer fast på skærmen */
  bottom: 20px; /* Afstand fra bunden */
  right: 20px; /* Afstand fra højre */
  background-color: #007bff; /* Baggrundsfarve */
  color: #fff; /* Tekstfarve */
  padding: 10px; /* Afstand og indrykning af elementerne */
  border: none; /* Tilpasning af border */
  border-radius: 5px; /* Tilpasning af hjørner */
  cursor: pointer; /* Viser, at boksen er klikbar */
}

#backToTopBtn:hover {
  background-color: #0056b3; /* Baggrundsfarve */
}

.grafer {
  align-items: center; /* Centrerer elementerne vandret */
  padding: 100px; /* Afstand og indrykning af elementerne */
  position: relative; /* Positionerer graferne relativ */
}

#my_dataviz1 h1,
#my_dataviz2 h1 {
  position: absolute; /* Positionerer overskrifterne absolut */
  top: 0; /* Placerer øverst */
  left: 50%; /* Centrerer horisontalt */
  transform: translateX(-50%); /* Justerer vandret for at centrere */
  padding: 10px; /* Afstand og indrykning */

  font-family: Arial, sans-serif; /* Tekstype */
  font-size: 24px; /* Tekst tykkelse */
  margin: 20px 0; /* Forhold for margen */
  z-index: 1000; /* Prioritet af element ift. andre */
}
